.intruder-image-list {
  width: 100%;
  max-width: 600px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 10px;
}

.post {
  margin-bottom: 30px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
